### DB Settings
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=password

### Umami App Settings
DOMAIN=umami.192192192.xyz
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@umami-db-service:5432/${POSTGRES_DB}
DATABASE_TYPE=postgresql
APP_SECRET=your-random-string-for-app-secret